body {
    background-color: white;
    padding: 30px;
    margin-left: 25px; 
    font-family: Helvetica;

}

.Logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222222;
    padding: 30px;
    margin-left: 25px;
    color: whitesmoke;
}

h1{
    font-size: 3em;
    padding-bottom: 3px;
    border: 5px solid black;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.youtube {
    display: inline-block;
}


.twitter {
  
    display: inline-block;
}

.instagram {

    display: inline-block;
}

.twitch {

    display: inline-block;
}

.discord {

    display: inline-block;
}

.email {

    display: inline-block;
}


