body {
    background-color: white;
    padding: 30px;
    margin-left: 25px; 
    font-family: Helvetica;

}

.Logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222222;
    padding: 30px;
    margin-left: 25px;
    color: whitesmoke;
    border: 5px solid black;
}

h1{
    font-size: 3em;
    padding-bottom: 3px;
}

.phrase {
    font-size: 1.5em;
}

img {
    width: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.youtube {
    display: flex;
}


.twitter {
  
    display: flex;
}

.instagram {

    display: flex;
}

.twitch {

    display: flex;
}

.discord {

    display: flex;
}

.email {

    display: flex;
}


